<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/getForm" method="get">
    <h1>GET 요청</h1>
    <input type="text" placeholder="ID" name="id">
    <input type="text" placeholder="PW" name="pw">
    <button type="submit">"제출"</button>
  </form>

  <form action="/postForm" method="post">
    <h1>POST 요청</h1>
    <input type="text" placeholder="ID" name="id">
    <input type="text" placeholder="PW" name="pw">
    <button type="submit">"제출"</button>
  </form>
</body>

</html>